<div class="adb-sidebar">
  <div></div>
  <ul class="adb-nav-list">
    <li>
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink='/dashboard'><span
          class="ml-2 mr-2 fas fa-tachometer-alt"></span> Dashboard</a>
    </li>

    <li>
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink='/adverts/create'><span
          class="ml-2 mr-2 fas fa-plus-square"></span> Create new advert</a>
    </li>

    <li>
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink='/clients/register'><span
          class="ml-2 mr-2 fas fa-building"></span> Register client</a>
    </li>
  </ul>
  <div></div>
</div>